<article>
    <form action="/api/request-reset" method="post">
    <header>
        <h1>Restablecer contraseña</h1>
    </header>
    <h3>Link expirado, generar uno nuevo ↓</h3>
        <input type="email" name="email" placeholder="Correo electronico" required>
        <button type="submit">Restablecer contraseña</button>
    </form>
</article>