<article>
    <form action="/api/reset-password/{{token}}" method="post">
        <header>
            <h1>Restablecer contraseña</h1>
        </header>
        <label for="newPassword">Nueva contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">Restablecer contraseña</button>
    </form>
</article>
